$limegreen: hsl(163, 72%, 41%);
$brightred: hsl(356, 69%, 56%);

$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);

//LINEAR
$instagram1: hsl(37, 97%, 70%);
$instagram2: hsl(329, 70%, 58%);
//LINEAR

$youtube: hsl(348, 97%, 39%);

// DARK THEME

//BG THEME

$vdbluebg: hsl(230, 17%, 14%);
$vdbluetop: hsl(232, 19%, 15%);
$darkcardbg: hsl(228, 28%, 20%);
$darktext: hsl(228, 34%, 66%);
$white: hsl(0, 0%, 100%);
// BG THEME

// TOGGLE
$toggledark1: hsl(210, 78%, 56%);
$toggledark2: hsl(146, 68%, 55%);
// TOGGLE

// DARK THEME

//LIGHT THEME

$lightbg: hsl(0, 0%, 100%);
$vpbluetop: hsl(225, 100%, 98%);
$lgbluecard: hsl(227, 47%, 96%);
$dgbluetext: hsl(228, 12%, 44%);
$dark: hsl(230, 17%, 14%);

$togglelight: hsl(220, 5%, 87%);

//LIGHT THEME

$fontfam: "Inter", sans-serif;
